body {
background-color: #a5bdff;
}
h1 {
color: #052682;
}
p {
color: #052682;
}
button {
background-color: #a5bdff;
border-radius: 8px;
border-color: #052682;
color:#052682;
transition-duration: 0.4s;
}
button:hover {
background-color: #052682;
border-color: #a5bdff;
color: #a5bdff;
}

a:hover {
  color:white; 
}

pre {
  color:black;
}

a {
  color:black;
}
